@page
@model ControlCenterApp.Pages.A3StdGldeMapRules.IndexModel
@{
    ViewData["Title"] = "Map Rules";
}

<h1>Map Rules</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle me-1"></i>Create New
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Period</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items)
{
    <tr>
        <td>@item.RuleName</td>
        <td>@item.PeriodStart - @item.PeriodEnd</td>
        <td>
            <a asp-page="Edit" asp-route-id="@item.ObjId">
                <i class="bi bi-pencil-square me-1"></i>Edit
            </a> |
            <a asp-page="Delete" asp-route-id="@item.ObjId" class="text-danger">
                <i class="bi bi-trash me-1"></i>Delete
            </a>
        </td>
    </tr>
}
    </tbody>
</table>
